/* Red skin */

/* Backgrounds */

.bg-grid {
	background-image: url('../../img/base.png');
}
.bg-hammersickle {
	background-image: url('../../logo/logocomunistes-falcimartell-trans.png');
	background-repeat: no-repeat;
}
.bg-senyera {
	background-image: url('../../logo/logocomunistes-senyera-red.png');
	background-repeat: no-repeat;
}
.bg-ciber {
	background-image: url('../../logo/logocomunistes-ciberguerrilla.jpg');
	background-repeat: no-repeat;
}
.header-bg {
	background-size: 20%;
	background-position: 10% 0;
}
#header {
	padding: .8em 0 .2em;
}
#header nav {
	margin-top: .2em;
}
.header-banner {
	background-size: cover !important;
}
.header-banner h1 {
	font-size: 6em;
}
.header-banner h3 {
	font-size: 5em;
}
@media (max-width: 767px) {
	.header-banner h1 {
		font-size: 3em;
	}
	.header-banner h2 {
		font-size: 2em;
	}
	.header-banner h3 {
		font-size: 3.5em;
	}
}
@media (max-width: 481px) {
	.header-banner h1 {
		font-size: 1.6em;
	}
	.header-banner h2 {
		font-size: 1.1em;
	}
	.header-banner h3 {
		font-size: 2.8em;
	}
}

/* Blog */

header h6 {
	display: block;
	margin: 0 auto;
	text-align: center;
	width:70%;
}
article.post {
	border: 1px solid #ddd;
	margin: .5em;
	padding: .5em;
}
.post h3 {
	font-weight: 500;
}
@media (max-width: 481px) {
	.post h3 {
		font-size: 1.4em
	}
}
.post h6 {
	border-bottom: thin solid #ddd;
	border-bottom: thin solid rgba(0,0,0,.25);
	padding: .25em;
}
.post, .post-item {
	background: #ffffff;
	border: thin solid #fafafa;
	margin: 0;
	padding: .5em;
}
.post-item {
	font-size: 1.2em;
	line-height: 1.6em;
}
.post img {
	border: thin solid rgba(0,0,0,.2);
	border-radius: 50%;
	float: left;
	height: 8em;
	margin: .5em;
	object-fit: cover;
	overflow: hidden;
	width: 8em;
	pointer-events: none !important;
}
/* Special post on Main page (Neus Catala) */ 
.post-special-content img {
	border: thin solid #ddd;
	border-radius: 0;
	display: block;
	float: none;
	height: 18em;
	max-height: 18em;
	margin: .5em auto;
	object-fit: cover;
	object-position: top;
	overflow: hidden;
	width: 100%;
	pointer-events: none !important;
}
.post-special-content a[href*=flickr] {
	pointer-events: none !important;
}
.post-item img {
	border: thin solid transparent;
	display: block;
	margin: 0 auto 1em;
	height: auto;
}
.post-excerpt a:last-of-type,
.post-special-content a:last-of-type {
	background-color: #3AB16C;
	color: #fff;
	display: block;
	height: 2.4em;
	margin: 1em auto 0;
	overflow: hidden;
	padding: .5em 1em;
	text-decoration: none;
	text-overflow: truncate;
	width: 4em;
}
.post-special-content a:last-of-type {
	background-color: #8844a5;
}
.post-excerpt a:last-of-type:visited {
	background-color: #dd0000;
	color: #fff !important;
}
.post-special-content a:last-of-type:visited {
	background-color: #dd0000;
	color: #fff !important;
}
.gallery article .article-thumb img {
	pointer-events: none !important;
}
/* Bibliography */
.bibliography article {
	margin: 0 0 2em;
}
.bibliography aside {
	border: thin solid #ddd;
	padding: 0 1em;
}
.bibliography img {
	border: thin solid #aaa;
	margin: 0 auto 4em;
	width: 80%;
	cursor: -webkit-zoom-in; 
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
/* Ciber version */
.main-ciber,
.main-ciber .post {
	background-color: #111;
	border: none;
	color: #eee;
	color: rgba(180,255,180,.8);
}
.main-ciber .post {
	border-top: 3px solid rgba(180,255,180,.8);
}

/* Blogger labels */

.blogger-labels {
	display: block;
	clear: both;
	color: #333;
	font-size: 0;
	margin: 12px 0 0;
	text-align: center;
}
.blogger-labels:before {
	border-bottom: 1px solid #999;
	display: block;
	content: 'Temes';
	font-size: 16px;
	margin: 16px;
}
.blogger-labels a {
	background: #666;
	border-radius: .5em;
	color: #ffffff !important;
	font-size: 16px;
	margin: 0 .25em;
	padding: .25em 1em;
	text-decoration: none !important;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
}
.blogger-labels a:hover {
	background: #dd0000;
}
.post .blogger-labels {
	display: none;
}
.article-title {
	font-weight: bold;  
	font-weight: 500;  
}

/* Twitter timeline */

.twitter-timeline {
	display: block;
	margin: 0 auto;
}

/* Responsive hacks */

@media (max-width: 768px) {
	footer {
		text-align: center;
	}
}

/* Scroll-slide */

.scroll-slide {
	height: 480px;
	width: 100%;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
.scroll-slide * {
	display: inline;
}
.scroll-slide img {
	height: 480px;
	width: auto;
}

/* Prev/next */

.prev-next,
.prev-next .blog-paging-control-container  {
	position: absolute;
	left: 0;
	right: 0;
	margin: em 0 1em;
	width: 100%;
}
.prev-next .blog-paging-control-container .blog-paging-control,
.prev-next .blog-paging-control-container .blog-paging-control:after {
	display: block;
	height: 2em;
	width: 2em;
	position: absolute;
	text-decoration: none;
	top: -.25em;
	z-index: 1;
}
.prev-next .blog-paging-control-container .blog-paging-control:nth-child(1),
.prev-next .blog-paging-control-container .blog-paging-control:nth-child(2) {
	visibility: hidden;
}
.prev-next .blog-paging-control-container .blog-paging-control:nth-child(1) {
	left: 1em; right: auto;
}
.prev-next .blog-paging-control-container .blog-paging-control:nth-child(2),
.prev-next .blog-paging-control-container .blog-paging-control:only-child {
	right: .5em; left: auto;
}
.prev-next .blog-paging-control-container .blog-paging-control:nth-child(1):after,
.prev-next .blog-paging-control-container .blog-paging-control:nth-child(2):after {
	border: .2em solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	height: 2em;
	width: 2em;
	visibility: visible;
}
.prev-next .blog-paging-control-container .blog-paging-control:nth-child(1):after {
	content: '<';
}
.prev-next .blog-paging-control-container .blog-paging-control:nth-child(2):after,
.prev-next .blog-paging-control-container .blog-paging-control:only-child:after {
	content: '>';
}

.pagination {
	margin: 3em auto 1em;
}
.pagination a {
	visibility: hidden;
}
.pagination a:after {
	border: thick solid #ccc;
	border-radius: 2em;
	color: #bbb;
	margin-left: -5em;
	padding: .75em 1em;
	visibility: visible;
}
.pagination a:nth-child(1):after {
	content: '< Posterior';
}
.pagination a:nth-child(2):after,
.pagination a:only-child:after {
	content: ' Anterior >';
}
.pagination a:hover:after {
	background: #ee0000;
	border: thick solid #eee;
	color: #fff;
}

/* Cookies info */

#cookieChoiceInfo {
	background-color: rgba(0,0,0,0.5) !important;
	top: auto !important;
	bottom: 0px !important;
}
#cookieChoiceInfo .cookie-choices-text {
	color: #fff;
	font-size: 14px !important;
	line-height: 1em !important;
}
.cookie-choices-button {
	border: thin solid #fff;
	border-radius: 24px !important;
	font-size: 10px !important;
	padding: 8px !important;
}

/* www.comunistes.cat */